/Gomi/nbproject/private/
/Gomi.Business/nbproject/private/
/Gomi.Shared/nbproject/private/
/Gomi.Back/nbproject/private/
/br.com.gomi.business/nbproject/private/
/br.com.gomi.back/nbproject/private/
/br.com.gomi.shared/nbproject/private/
/br.com.gomi.business/build/
/br.com.gomi.back/build/
/br.com.gomi.shared/build/
/br.com.gomi.back/dist/
/br.com.gomi.shared/dist/
/br.com.gomi.business/dist/