/Gomi/nbproject/private/
/Gomi.Business/nbproject/private/
/Gomi.Shared/nbproject/private/
/Gomi.Back/nbproject/private/
/br.com.gomi.business/nbproject/private/
/br.com.gomi.back/nbproject/private/
/br.com.gomi.shared/nbproject/private/
/br.com.gomi.front/nbproject/project.properties